<template name="home">
    <link rel="stylesheet" type="text/css" href="../../lib/jquery-brackets/dist/assets/styles/jquery.bracket-world.css">
    <script src="../../lib/jquery-brackets/dist/assets/scripts/jquery.bracket-world.min.js"></script>
    <script>
        $('.ui.dropdown').dropdown();
    </script>

    <div id="packages" class="main-content padding-wrapper">

        <div id="menu_button" class="ui icon button">
            <i class="content icon"></i>
        </div>

        <div id="bracket_container">

        </div>
    </div>

</template>
