// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';


.ui.form label {
  color: white;
}


/*** Label Styles ***/
.ui.form #timing-label {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  background-color: darkgrey;
  border-radius: 0;
  line-height: 25px;
}

.ui.form #timing-label label {
  color: black;
  font-size: 11.5px;
  margin-top: 25px;
}

.ui.form #seed-number {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  background-color: darkgrey;
  border-radius: 0;
  line-height: 25px;
}

.ui.form #seed-number label {
  color: black;
  font-size: 12.5px;
  margin-top: 25px;
}
/******/



.ui.form #custom-seeds {
  width: 340px;
  margin-bottom: 15px;
}

.ui.form #custom-seeds .ui.label {
  background-color: darkgray;
  color: black;
}

.ui.form #seed-buttons {
  width: 341px;
}

.ui.form #seed-buttons .ui.button {
  padding: 11px 36px 11px 36px;
  border-right: solid 1px grey;
}


.ui.form #custom-timing {
  width: 339px;
  margin-bottom: 15px;
}

.ui.form #custom-timing .ui.label {
  background-color: darkgray;
  color: black;
}

.ui.form label:hover {
  color: white;
}


.ui.form #timing-buttons  .ui.button{
  border-right: solid 1px grey;
}

.ui.form .ui.buttons {
  margin-bottom: 10px;
  color: black;
}

.ui.form .ui.buttons .ui.button {
  background-color: darkgrey;
}