<template name="sidebar">
    <div id="menu" class="ui very wide left vertical inverted labeled icon sidebar menu">
        <h2 class="ui header" style="color: white; margin-top: 20px">
            Match Settings
        </h2>

        <div id="settings">
            <div class="ui form">
                <div class="ui label" id="timing-label">
                    <div><label> Choose how long you want each match to last. We'll do the heavy lifting.</label></div>
                </div>
                <div class="ui buttons" id="timing-buttons">
                    <div class="ui button">10 Minutes</div>
                    <div class="ui button">20 Minutes</div>
                    <div class="ui button">30 Minutes</div>
                </div>
                <div class="ui mini labeled input" id="custom-timing">
                    <div class="ui label">
                        Custom (in minutes):
                    </div>
                    <input type="number" placeholder="0">
                </div>

                <div class="ui label" id="seed-number">
                    <label> Choose how many seeds for the tournament.</label>

                </div>

                <div class="ui buttons" id="seed-buttons">
                    <div class="ui button">4</div>
                    <div class="ui button">8</div>
                    <div class="ui button">16</div>
                    <div class="ui button">32</div>
                </div>

                <div class="ui mini labeled input" id="custom-seeds">
                    <div class="ui label">
                        Custom #:
                    </div>
                    <input type="number" placeholder="0">
                </div>

            </div>
        </div>
    </div>
</template>